<ul>
  <li *ngFor="let candidate of candidates" class="list-dashboard">
    <div class="col-avatar">
      <img [src]="candidate.avatar">
    </div>
    <div class="col-text">
      <h2>{{candidate.firstName}} {{candidate.lastName}}</h2>
      <p>{{candidate.description}}</p>
    </div>
    <div class="col-menu">
      <!-- HERE GOES THE RATING -->
    </div>
    <div class="border"></div>
    <div class="type">
      <i class="fa fa-bell" aria-hidden="true"></i>
    </div>
    <a [routerLink]="['/candidates', candidate.id]">
      <div class="type2">View Profile</div>
    </a>
  </li>
</ul>
