<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title text-center"><strong>Languages</strong></h4>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let cell of languages.headerRow">{{ cell }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let language of languages.dataRows">
                        <td>{{language.name}}</td>
                        <td>{{language.writing}}</td>
                        <td>{{language.understanding}}</td>
                        <td>{{language.speaking}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>