<div class="container-fluid">
    <p>
        <a [routerLink]="['/candidates']">Go back</a>
    </p>  

    <div class="row"><!-- ROW -->
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image cyan"></div>
                <div class="content">
                    <div class="author">
                        <img class="avatar border-white" [src]="candidate.avatar" alt="..."/>
                        <h4 class="title">
                            <span class="cyan-text">{{candidate.firstName}} {{candidate.lastName}}</span>
                            <br />
                            <a href="#"><small><span class="black-text">{{candidate.email}}</span></small></a>
                        </h4>
                    </div>
                    <p class="description text-center">{{candidate.description}}</p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5 [routerLink]="['/candidates', candidate.id, '/comments']" >
                            <span class="cyan-text">{{candidate.comments}}</span>
                            <br /><small>Comments</small>
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h5>
                            <span class="candidate-rating">{{candidate.likes}}</span><br />
                            <small>Likes</small>
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <h5>
                            <span class="candidate-rating">{{candidate.rating}}</span>
                            <br /><small>/5</small>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-5">
            <div class="card card-user white-backgound">
                <div class="image blue">
                    <h2 class="text-center white-text" style="vertical-align: middle;">Skills</h2>
                </div>
                <div class="content" style="height: 261px; overflow-y: hidden">
                    <ul class="bean-skillset">
                        <li *ngFor="let skill of candidateSkills" class="skill-bar" [ngStyle]="{'background-color':skill.getColor(), 'width': (skill.level + '%') }">
                            <span>{{skill.name}}</span>
                            <span class="skill-percent">{{(skill.level/100) | percent}}</span>
                        </li>      
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-5">
            <div class="card card-user white-backgound">
                <div class="image green">
                    <h2 class="text-center white-text" style="vertical-align: middle;">Interests</h2>
                </div>
                <div class="content" style="height: 261px; overflow-y: hidden">
                    <dl>
                        <dd *ngFor="let interest of candidateInterests">
                            <span>{{interest.name}}</span>
                        </dd>      
                    </dl>
                </div>
            </div>
        </div>    
    </div><!-- END ROW -->

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card card-user white-backgound">
                <div class="image white">
                    <h2 class="text-center indigo-text" style="vertical-align: middle;"><strong>Education</strong></h2>
                </div>
                <div class="content" >
                    <education-timeline [candidateEducation]="candidateEducation"></education-timeline>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <language-table [candidateLanguages]="candidateLanguages"></language-table>
        </div>
    </div>

</div>