<div class="col-md-7 col-sm-7 col-xs-12">
	<div class="card">
		<div class="card-image">
			<img [src]="position?.image || ''" alt="{{position?.name}}" class="image darken">
			<p class="centered white-text">{{position?.name}}</p>
		</div>
		<div class="card-content">
			<div class="well">
				<p class="card-content-job black-text">{{position?.description}}</p>
			</div>
			<h4 class="red-text">Requirements</h4>
			<div class="well">
				<ul class="requirements-list list-no-bullets" *ngIf="positionRequirements?.length > 0">
					<li *ngFor="let requirement of positionRequirements">
						<i class="ti-check-box"></i>
						<span>
							<span class="blue-text">{{requirement?.level}}</span>
							@ 
							<span>{{requirement?.name}}</span>
						</span>
					</li>
				</ul>
				<p *ngIf="positionRequirements?.length === 0">No requirements defined</p>
			</div>
		</div>
	</div>
</div>


<div class="col-md-5 col-sm-5 col-xs-12">
	<div class="card card-user white-backgound">
		<div class="image red">
			<h2 class="text-center white-text" style="vertical-align: middle;">Candidates</h2>
		</div>
		<div class="content" style="height: 367px; overflow-y: scroll">
			<div class="row contact-card" *ngFor="let cs of candidateScores">
				<div class="col-md-2">
					<img [src]="cs.candidate.avatar" class="contact-card-image">
				</div>
				<div class="col-md-6 contact-card-info">
					<div class="contact-card-name">
						<a [routerLink]="['/candidates', cs.candidate.id]">{{cs.candidate.firstName}} {{cs.candidate.lastName}}</a>
					</div>
					<div class="contact-card-number">{{cs.candidate.email.address}}</div>
				</div>
				<div class="col-md-4" style="max-height: 50px; margin-left:25px; float:right;">
					<p class="blue-text"><strong>Score:</strong></p>
					<p class="red-text">{{cs.score}}/100</p>
				</div>
			</div>
			<div class="row contact-card" *ngIf="candidateScores?.length === 0">
				<p>No candidates have been evaluated yet. Check back later! :)</p>
			</div>
		</div>
	</div>
</div>

