.card {
  margin: 0 auto;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3em;
  max-height: 550px;
}

.card .card-content {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 2%;
  padding-bottom: 8%;
  overflow: hidden;
  min-height: 200px;
  max-height: 370px;
}

.card .card-content .card-content-name {
  font-size: 25px;
}

.card .card-content .card-content-job {
  max-height: 150px;
  color: #9575CD;
  font-size: 15px;
}

.card .card-content p {
  margin: 0;
  z-index: 2;
}

.card .card-content .card-content-button:focus {
  outline: none;
}

.card .card-image {
  width: 100%;
  position: relative;
  margin-bottom: -1%;
  z-index: 2;
  -webkit-transition: z-index 0s 0.2s;
  -moz-transition: z-index 0s 0.2s;
  -ms-transition: z-index 0s 0.2s;
  -o-transition: z-index 0s 0.2s;
  transition: z-index 0s 0.2s;
  background-color: #000000;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}

.card .card-image img {
  width: 100%;
  opacity: 0.5;
}

.image {
  position: relative;
  max-height: 120px;
  object-fit: cover;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 24px;
	font-weight: bold;
}

.requirements-list {
  max-height: 145px;
}

.contact-card {
  max-width: 100%;
  background: #fff;
  padding: 8px;
  margin-left:4px;
  border-radius: 5px;
  box-shadow: 0 0 10px silver;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-card-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 25px;
}

.contact-card-image img {
  width: 100%;
  height: auto;
}

.contact-card-name {
  text-transform: capitalize;
}