.timeline ul {
  padding: 1em 0 0 2em;
  margin: 0;
  list-style: none;
  position: relative;
}

.timeline ul::before {
  content: ' ';
  height: 100%;
  width: 1px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 2.5em;
  z-index: -È›1;
}

.timeline li div {
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}

.timeline .bullet {
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  margin-right: 1em;
  border: 2px solid #3868A6;
}

.timeline .time {
  width: 20%;
  font-size: 0.75em;
  padding-top: 0.25em;
}

.timeline .desc {
  width: 70%;
}

.timeline h3 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
}

.timeline h4 {
  margin: 0;
  font-size: 0.7em;
  font-weight: 400;
}

.timeline .people img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.credits,
.video {
  position: absolute;
  bottom: 10px;
  color: #808080;
  font-size: 100%;
  text-decoration: underline;
}

.credits {
  left: 10px;
}

.video {
  right: 10px;
}
